[gcode_macro SETTINGS]
gcode:
  SET_VELOCITY_LIMIT MINIMUM_CRUISE_RATIO=0.5
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5
  SET_PRESSURE_ADVANCE EXTRUDER=extruder SMOOTH_TIME=0.02
  SET_VELOCITY_LIMIT ACCEL=25000
  SET_VELOCITY_LIMIT VELOCITY=800
  M220 S100
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  CLEAR_PAUSE
  SET_SKEW CLEAR=1
  M400

[gcode_macro PRINT_START]
gcode:
    status_busy
    SETTINGS
    NORM_Z
    LM_ENABLE
    G4 P1000
    {%set EXTRUDER_TEMP = params.EXTRUDER|default(210)|float %}
    {%set BED_TEMP = params.BED|default(50)|float %}
    {%set material = params.MATERIAL %}
    {%set vendor = params.VENDOR %}
    {%set CHAMBER = params.CHAMBER_TEMP|default(45)|float %}   #Min Chamber temp
    {% set initial_tool = params.TOOL|default("0")|int %}
#    _SET_TIMELAPSE_SETUP ENABLE=true
	LED_80
    M117 Homing
    status_homing
    G28
#    TIMELAPSE_TAKE_FRAME
    M140 S{BED_TEMP}
    G0 Z15
    G1 X240 F4000
    M400
    G1 Y392 F4000
    AFC_BRUSH
#    TIMELAPSE_TAKE_FRAME
    G1 X240 Y392 Z15 F4000
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET={CHAMBER}
    M117 Wait for heatbed temperature
    status_bedtemp
    M190 S{BED_TEMP}
    M117 Wait for Chamber temperature {CHAMBER-10}°C
    status_busy
    TEMPERATURE_WAIT SENSOR="temperature_fan chamber" MINIMUM={CHAMBER-10}
    M117 Quad Gantry Leveling
    status_leveling
    QUAD_GANTRY_LEVEL_BASE
#    TIMELAPSE_TAKE_FRAME
    M400
    G1 X0 Y7.3
    M117 Bed meshing
    status_meshing
    BED_MESH_CALIBRATE
    M400
    G1 Z8 F200
    G28 Z
    M117 Heat nozzle
    status_nozzletemp
    M104 S{EXTRUDER_TEMP}
    G0 Z55 F200
    G0 X100 Y395 F4000
    M109 S{EXTRUDER_TEMP}
    AFC_BRUSH
#    TIMELAPSE_TAKE_FRAME
    status_turtle
    AFC_PARK
    M117 Load Filament
    T{initial_tool}           #Load Initial Tool
#    TIMELAPSE_TAKE_FRAME
    M400
    G92 E0
    G1 E-5
    G92 E0
    status_busy
    G0 Z55
    G0 X250 Y390 F5000
    M400
	LED_50
    BED_MESH_PROFILE LOAD="default"
    SKEW_PROFILE LOAD=calilantern_skew_profile
    M117 Printing with {vendor} {material}
  	M118 ... Printing ...
    status_printing
    M400
    G92 E0
    G1 E+2.5
    G92 E0
    G1 F4200

[gcode_macro PRINT_END]
gcode:
  status_busy
  M117
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=10
  M140 S0
  G91
  G1 Z+10
  M106 S255
  G90
  G92 E0
  G1 X150 Y200 F6000
  AFC_PARK
  G4 P1000
  status_turtle
  BT_TOOL_UNLOAD
  M109 S0
  M104 S0
  M106 S250
  M117 Cool down before brush
  G4 P30000
  M106 S200
  AFC_BRUSH
  status_busy
    {% if (printer.gcode_move.position.z + 95) < 262 %}
        G91
        G1 Z+95 F3000
        G90
    {% else %}
        G90
        G1 Z262 F3000
    {% endif %}
  G1 X20 Y20 F12000
  M106 S130
  G4 P60000
  G90
  M106 S0
  SETTINGS
  LOW_Z
  TURN_OFF_HEATERS
  SET_LED LED=LED WHITE=0 SYNC=0 TRANSMIT=1
  SET_SKEW CLEAR=1
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=40
  M118 Print finished :-)
  status_ready
  UPDATE_DELAYED_GCODE ID=delay_disable_motor DURATION=120


[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
  G28
  status_leveling
  QUAD_GANTRY_LEVEL_BASE
  M400
  status_busy
  M190 S0
  G90
  G0 Z25
  G0 X165 Y220 F6000
  M118 Quad gantry level finished
  status_ready

[gcode_macro CALIBRATE_BED_LT]
description: Quad gantry level and create or update the "default" mesh and save config - Low bed temperature
gcode:
  status_busy
  LM_ENABLE
  M190 S60
  G28
  G0 Z55
  status_leveling
  QUAD_GANTRY_LEVEL_BASE
  status_meshing
  BED_MESH_CALIBRATE
  status_ready
  G0 Z55
  G0 X156 Y198
  M140 S0
  M400
  SAVE_CONFIG

[gcode_macro CALIBRATE_BED_HT]
description: Quad gantry level and create or update the "default" mesh and save config - High bed temperature
gcode:
  status_busy
  LM_ENABLE
  M117 Homing
  G28
  G0 Z55
  M117 Heating bed
  status_bedtemp
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=50
  M190 S110
  M117 Wait for Chamber temperature reach 40°C
  TEMPERATURE_WAIT SENSOR="temperature_fan chamber" MINIMUM=40
  G1 Z55
  M117 Gantry Leveling
  status_leveling
  QUAD_GANTRY_LEVEL_BASE
  M117 Mesh calibrate
  status_meshing
  BED_MESH_CALIBRATE
  M140 S0
  G0 Z55
  G0 X156 Y198
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=40
  M400
  SAVE_CONFIG

[gcode_macro TUNE_BED_PID]
gcode:
  status_knight_raider
  PID_CALIBRATE HEATER=heater_bed TARGET=70 WRITE_FILE=0
  G4 P5000
  M400
  SAVE_CONFIG

[gcode_macro TUNE_EXTRUDER_PID]
gcode:
  status_knight_raider
  PID_CALIBRATE HEATER=extruder TARGET=240 WRITE_FILE=0
  G4 P5000
  M400
  SAVE_CONFIG

[gcode_macro SET_X0]
gcode:
  SET_KINEMATIC_POSITION X=0

[gcode_macro SET_Y0]
gcode:
  SET_KINEMATIC_POSITION Y=0

[gcode_macro SET_Z50]
gcode:
  SET_KINEMATIC_POSITION Z=50

[gcode_macro RUN_INPUT_SHAPER]
gcode:
  SHAPER_CALIBRATE

[gcode_macro Z_TO_BOTTOM]
gcode:
  G1 Z270
  
[delayed_gcode cool_hot_end]
gcode:
    {% if printer['pause_resume'].is_paused|int == 1 %}
      M104 S0   
    {% endif %}

[delayed_gcode delay_disable_motor]
gcode:
    M84
    LM_DISABLE

# touch screen unload filament
[gcode_macro UNLOAD_FILAMENT] 
gcode:  
   {% if printer.idle_timeout.state != 'Printing' %}
        {% if printer[printer.toolhead.extruder].temperature < printer.configfile.settings['extruder'].min_extrude_temp %}
           M118 Heating nozzle...
           M109 S220
        {% endif %}
      G91
      M118 Fill nozzle...
      M106 S200
      G92 E0   
      G1 E40 F360  
      G4 P1000
      G92 E0   
      G1 E40 F360 
      G4 P1000
      G92 E0   
      G1 E5 F400
      M118 Cooling nozzle to 200 ...
      M104 S200
      G4 P3000
      M107
      M118 Unloading...
      G92 E0   
      G0 E-15 F800
      G4 P2000
      G92 E0   
      G0 E-15 F800
      G4 P3000
      G92 E0
      G0 E-15 F800
      G4 P3000
      G92 E0   
      G0 E-15 F800
      G4 P3000
      G92 E0   
      G0 E-15 F800
      G4 P3000
      G92 E0   
      G0 E-15 F800
      G92 E0
      G0 E-50 F400
      G92 E0
      G90
      M104 S0
      M118 Unload finish
   {% endif %}


# Display button load filament
[gcode_macro LOAD_FILAMENT]
gcode:
      M118 Load filament - Fill nozzle
      {% if printer[printer.toolhead.extruder].temperature < printer.configfile.settings['extruder'].min_extrude_temp %}
          M118 Heating nozzle...
          M109 S230
      {% endif %}
      G91  
      G92 E0   
      G1 E20 F200
      G4 P1000
      G92 E0   
      G1 E30 F300
      G4 P1000
      G92 E0   
      G1 E50 F500
      G92 E0   
      G4 P1000
      G92 E0   
      G1 E50 F600
      G4 P1000
      G92 E0   
      G1 E-5 F800
      M118 Load filament - Purge
      G92 E0   
      G1 E15 F600
      G4 P1000
      G92 E0   
      G1 E-5 F800
      G92 E0   
      G1 E25 F600
      G4 P1000
      G92 E0   
      G1 E-5 F800
      G92 E0   
      G1 E25 F600
      G4 P1000
      G92 E0   
      G1 E-5 F800
      M118 Loading finished
      M104 S0


[gcode_macro M106]
rename_existing: G106
gcode:
    {% if params.P is defined %}
        {% if params.P|int == 2 %}
            {% if params.S is defined %}
                {% if params.S|int == 255 %}
                    {% set realspeed = 1 %}
                {% else %}
                    {% if params.S|int == 0 %}
                        {% set realspeed = 0 %}
                    {% else %}
                        {% set realspeed = params.S|float/255 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% set realspeed = 1 %}
            {% endif %}

        {% endif %}
    {% else %}
        {% if params.S is defined %}
          G106 S{params.S}
        {% else %}
          G106 S255
        {% endif %}
    {% endif %}


[gcode_macro LED_off]
gcode:
    SET_LED LED=LED WHITE=0 SYNC=0 TRANSMIT=1

[gcode_macro LED_25]
gcode:
    SET_LED LED=LED WHITE=0.25 SYNC=0 TRANSMIT=1

[gcode_macro LED_50]
gcode:
    SET_LED LED=LED WHITE=0.6 SYNC=0 TRANSMIT=1

[gcode_macro LED_80]
gcode:
    SET_LED LED=LED WHITE=0.80 SYNC=0 TRANSMIT=1

[gcode_shell_command  RESIZE_FILE_SYSTEM]
command: curl -G http://127.0.0.1:8880/auto_resize_filesystem
timeout: 2.
verbose: False

[gcode_macro RESIZE_FILESYSTEM]
gcode:
  RUN_SHELL_COMMAND CMD=RESIZE_FILE_SYSTEM

[gcode_macro LINER_MOTOR]
gcode:
  {% if params.ENABLE is defined %}
    {% if params.ENABLE|int == 0 %}
      RUN_SHELL_COMMAND CMD=LINER_MOTOR_DISABLE
    {% else %}
      RUN_SHELL_COMMAND CMD=LINER_MOTOR_ENABLE
    {% endif %}
  {% else %}
    RUN_SHELL_COMMAND CMD=LINER_MOTOR_ENABLE
  {% endif %}

[gcode_macro LM_ENABLE]
gcode:
  G4 P500
  RUN_SHELL_COMMAND CMD=LINER_MOTOR_ENABLE
  G4 P4000
  
[gcode_macro LM_DISABLE]
gcode:
  G4 P500
  RUN_SHELL_COMMAND CMD=LINER_MOTOR_DISABLE
  G4 P4000

[gcode_shell_command LINER_MOTOR_ENABLE]
command: curl -G http://127.0.0.1:8880/send_command?command=ENABLE
timeout: 2.
verbose: False

[gcode_shell_command LINER_MOTOR_DISABLE]
command: curl -G http://127.0.0.1:8880/send_command?command=DISABLE
timeout: 2.
verbose: False
  
[gcode_shell_command MOTOR_CONTROL]
command: curl -G http://127.0.0.1:8880/motor_control
timeout: 2.
verbose: True

[gcode_macro LINEAR_MOTOR_CONTROL]
gcode:
  RUN_SHELL_COMMAND CMD=MOTOR_CONTROL

[gcode_macro M84]
rename_existing: M84.1
gcode:
    LM_DISABLE
    M84.1
    status_ready

[gcode_macro LOW_Z]
gcode:
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.7 HOLDCURRENT=0.7 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.7 HOLDCURRENT=0.7 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.7 HOLDCURRENT=0.7 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.7 HOLDCURRENT=0.7 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=extruder CURRENT=0.5 HOLDCURRENT=0.5 HOMECURRENT=0.5

[gcode_macro NORM_Z]
gcode:
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=1.1 HOLDCURRENT=0.8 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=1.1 HOLDCURRENT=0.8 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=1.1 HOLDCURRENT=0.8 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=1.1 HOLDCURRENT=0.8 HOMECURRENT=0.8
  SET_TMC_CURRENT STEPPER=extruder CURRENT=0.9 HOLDCURRENT=0.7 HOMECURRENT=0.5
  