#--=================================================================================-
#------- Global ---------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_GLOBAL_VARS]
description: Global variables used in multiple macros
gcode: # Leave Empty

# Set this to match your AFC_stepper base naming in AFC_Hardware.cfg
variable_stepper_name             : 'lane'    # [AFC_stepper lane1] [AFC_stepper lane2]...

variable_travel_speed             : 200       # Speed mm/s
variable_z_travel_speed           : 3        # Speed mm/s
variable_accel                    : 5000      # Move accel for all macro moves
variable_disable_skew_correction  : False      # When True macros will disable and re-enable skew correction while performing kinematic actions, useful if you took your measurements before loading your skew profiles which may limit where the toolhead can go during print.
variable_verbose                  : 1         # Console Output for macros
                                              #  0 - None
                                              #  1 - Limited
                                              #  2 - All

#--=================================================================================-
#------- Poop ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_POOP_VARS]
description: Poop macro configuration variables
gcode: # Leave empty

variable_purge_loc_xy             : 150, 395  #-1,-1    # (x,y) Location of where to purge
variable_purge_spd                : 4.0       # Speed, in mm/s, of the purge.
variable_z_purge_move             : True      # Set to False to not move in Z during poop

# Speed, in mm/s to lift z after the purge is completed. Its a faster lift to keep it from 
# sticking to the toolhead
variable_fast_z                   : 4
variable_z_lift                   : 20        #30 # Z height to raise to after the purge is completed as part of the fast z move

# If the toolhead returns to initial position after the poop is complete.
variable_restore_position         : False     # True = return to initial position, False = don't return

# The height to raise the nozzle above the tray before purging. This allows any built up 
# pressure to escape before the purge.
variable_purge_start              : 0.3    #0.2

# Set the part cooling fan speed. Disabling can help prevent the nozzle from cooling down 
# and stimulate flow, Enabling it can prevent blobs from sticking together.
variable_part_cooling_fan         : True      # Run it at full speed
variable_part_cooling_fan_speed   : 0.35       # Speed to run fan when enabled above. 0 - 1.0
variable_purge_cool_time          : 1         # Time to pause after purge to allow fan to cool the poop in seconds

# ==================== PURGE LENGTH TUNING
# Default purge length to fall back on when neither the tool map purge_volumes or 
# parameter PURGE_LENGTH is set.
variable_purge_length             : 175.0

# The absolute minimum to purge, even if you don't changed tools. This is to prime the 
# nozzle before printing
variable_purge_length_minimum     : 150.0

# The slicer values often are a bit too wasteful. Tune it here to get optimal values. 0.6
# is a good starting point.
#variable_purge_length_modifier    : 2.5

# Length of filament to add after the purge volume. Purge volumes don't always take 
# cutters into account and therefor a swap from red to white might be long enough, but 
# from white to red can be far too short. When should you alter this value:
#   INCREASE: When the dark to light swaps are good, but light to dark aren't.
#   DECREASE: When the light to dark swaps are good, but dark to light aren't. Don't 
#     forget to increase the purge_length_modifier
#variable_purge_length_addition    : 0


#--=================================================================================-
#------- Kick ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_KICK_VARS]
description: Kick macro configuration variables
gcode: # Leave empty

variable_kick_start_loc           : 150,375,20   # Location to move before kick
variable_kick_z                   : 2 #1.5       # Height to drop to for kick move
variable_kick_speed               : 450          # Speed of kick movement
variable_kick_accel               : 12000        # Accel of kick moves. This will overwrite the global accel for this macro. Set to 0 to use global accel
variable_kick_direction           : "back"       # Direction to make the kick move (left, right, front, back)
variable_kick_move_dist           : 20           # How far to move to kick poop off
variable_z_after_kick             : 4            # Height of z after kick move



#--=================================================================================-
#------- Brush ---------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_BRUSH_VARS]
description: Brush macro configuration variables
gcode: # Leave empty


variable_brush_loc                : 45,397,3.9 #z3.7 #-1,-1,-1  # Position of the center of the brush (Set z to -1 if you dont want a z move)
variable_brush_clean_speed        : 160       # Speed of cleaning moves when brushing
variable_brush_clean_accel        : 1500         # Accel of cleaning moves when brushing. This will overwrite the global accel for this macro. Set to 0 to use global accel
variable_brush_width              : 35        # Total width in mm of the brush in the X direction
variable_brush_depth              : 6.5        # Total depth in mm of the brush in the Y direction
variable_y_brush                  : False      # True - Brush along Y axis first then X. False - Only brush along x
variable_brush_count              : 2         # Number of passes to make on the brush.
# Move in Z after brush to avoid bed if brush is at Z0 (Set z to -1 if you dont want a z move)
variable_z_move                   : 5


#--=================================================================================-
#------- Park ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_PARK_VARS]
description: Park macro configuration variables
gcode: # Leave empty

variable_park_loc_xy              : 150, 395   # Position to park the toolhead #240, 395
                                              # If you want z_hop during toolchanges please set the value in the AFC.cfg
variable_z_hop                    : 5         # Height to raise Z when moving to park. Leave 0 to disable
variable_park_z                   : 0         # Absolute height to lower to after park move.  Leave 0 to disable
                                              # This is intended to be used to reduce oozing during loading / unload right before a poop.
                                              # Typically this would be set at the variable_purge_start value when needed.