#   ls /dev/serial/by-id/*
#   ls /dev/serial/by-path/*

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_21003C001851333031373837-if00
is_non_critical: False

[beacon]
serial: usb-Beacon_Beacon_RevH_DCDE592D5157355957202020FF101B24-if00
restart_method: command
is_non_critical: True

[mcu h36]
canbus_uuid=92defcc1d06e
canbus_interface: can0



#   mainboard:
#     ls /dev/serial/by-id/*
#     ls /dev/serial/by-path/*
#	  sudo service klipper stop
#     make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32h723xx_21003C001851333031373837-if00
#	  sudo service klipper start

#   beacon:
#	  sudo service klipper stop
#     make flash FLASH_DEVICE=/dev/serial/by-id/dev/serial/by-id/usb-Beacon_Beacon_RevH_DCDE592D5157355957202020FF101B24-if00
#	  sudo service klipper start
