[neopixel afc_leds_1]
pin: Vivid_1:PC6
chain_count: 14
color_order: GRB

[neopixel afc_leds_2]
pin: Vivid_1:PC7
chain_count: 14
color_order: GRB

[led_effect turtle]
leds:
    neopixel:status_led
layers:
#    strobe 1 1 top (0.3,0.3,0.6)
    breathing 8 1 top (0.2,0.2,0.4)


[led_effect mmu_breathing_red]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       breathing 4 0 top (1,0,0)

[led_effect mmu_white_slow]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       breathing 1.0 0 top (0.8,0.8,0.8)


[led_effect mmu_blue_clockwise_slow]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       chase .5 .5 top (0,0,1), (0,0,.4)

[led_effect mmu_blue_clockwise_fast]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       chase 1 .5 top (0,0,1), (0,0,.4)

[led_effect mmu_blue_anticlock_slow]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       chase -.5 .5 top (0,0,1), (0,0,.4)

[led_effect mmu_blue_anticlock_fast]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       chase -1 .5 top (0,0,1), (0,0,.4)

[led_effect mmu_strobe]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       strobe    1 1.5 add (1,1,1)
              breathing 2 0   difference (0.95,0,0)
              static    0 0   top (1,0,0)

[led_effect mmu_static_green]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       static 0 0 top (0,0.5,0)


[led_effect mmu_static_orange]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       static 0 0 top (0.5,0.2,0)



[led_effect mmu_static_blue]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       static 0 0 top (0,0,1)

[led_effect mmu_static_black]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       static 0 0 top (0,0,0)

[led_effect mmu_rainbow]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       gradient  0.8  0.5 add (0.3, 0.0, 0.0), (0.0, 0.3, 0.0), (0.0, 0.0, 0.3)

[led_effect mmu_sparkle]
autostart: false
frame_rate: 24
leds:
  neopixel:afc_leds_1
layers:       twinkle 8 0.15 top (0.3,0.3,0.3), (0.4,0,0.25)





[gcode_macro afc_ready]
gcode:
    NEOPIXEL_DISPLAY LED=afc_leds_1 TYPE=clear
    SET_LED_EFFECT EFFECT=mmu_rainbow
    G4 P500

[gcode_macro afc_load]
gcode:
    NEOPIXEL_DISPLAY LED=afc_leds_1 TYPE=clear
    SET_LED_EFFECT EFFECT=mmu_blue_clockwise_fast
    G4 P500


[gcode_macro afc_unload]
gcode:
    NEOPIXEL_DISPLAY LED=afc_leds_1 TYPE=clear
    SET_LED_EFFECT EFFECT=mmu_blue_anticlock_fast
    G4 P500

